# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
node_modules
CMakeSettings.json
xcuserdata/
agent.toml
diff_review_post_commit_log.txt
diff_review_post_commit.md